{
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "babel",
  "printWidth": 132,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false
}
