.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  color: $color-dark;
  background-color: transparent;

  border-radius: 6px;
  transition: all $transition-time ease;

  .icon {
    line-height: 0;
    font-size: $font-size-large;
  }

  .text {
    line-height: 1;
    font-weight: $font-weight-bold;
  }

  &-primary {
    color: $color-primary;
    background-color: rgba($color-dark, 0.25);
    border: 1px solid rgba($color-dark-8, 0.5);
    backdrop-filter: blur(15px);
    
    &:hover {
      filter: brightness(120%);
    }
  }
}
