.ui--footer {
  position: relative;
  grid-area: area-footer;
  padding: 4rem 3rem;
  background-color: $color-dark;
  border-top: 1px solid tint($color-dark, 4%);

  // Nested At-Rules and Bubbling.
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(20px);
    background-color: rgba($color-dark, 0.25);
  }

  @include screen-xs {
    padding: 25px 15px;
  }

  &-container {
    text-align: center;

    .p1 {
      margin: 0 0 1rem;
      color: $color-dark-2;
      font-variant: $font-size-large;
      font-weight: $font-weight-bolder;

      @include screen-xs {
        font-size: $font-size-medium;
      }
    }

    .p2 {
      color: $color-dark-4;
      font-size: $font-size-small;
    }
  }
}
