.ui--header {
  position: sticky;
  top: 0;
  z-index: 110;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
  transition: all $animation-time ease;

  // Nested At-Rules and Bubbling.
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(20px);
    background-color: rgba($color-dark, 0.75);
  }
  
  @include screen-xs {
    position: relative;
    height: 60px;
    padding: 0 15px;
  }

  &.is-sticky {
    height: 60px;
  }

  &-logo {
    align-self: center;
    justify-self: flex-start;

    font-size: $font-size-large;
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    line-height: 30px;

    @include screen-xs {
      display: none;
    }
    
    .color {
      padding: 6px 5px 4px;
      color: $color-primary;
      background-color: $color-dark;
    }
  }

  &-menu {
    justify-self: flex-end;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;

    @include screen-xs {
      justify-self: unset;
      justify-content: flex-start;
      grid-template-columns: repeat(2, auto) 1fr;
    }

    &-contact {
      display: grid;
      grid-column-gap: 15px;
      grid-auto-flow: column;

      @include screen-xs {
        justify-self: flex-end;
      }

      .contact {
        text-align: center;
        width: 34px;
        padding: 7px 0 0;
      }

      .icon {
        width: 18px;
        height: 18px;
      }
    }
  }
}
