.ui--parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110vh;
  pointer-events: none;

  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

    @include screen-xs {
      object-position: left top;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
      url("/static/imgs/dot.png") repeat,
      linear-gradient(to top, $color-dark, rgba($color-dark, 0.75) 75%);
  }
}
