.ui--preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  overflow: auto;
  background-color: rgba($color-dark, 0.6);

  @include screen-xs {
    overflow: hidden;
  }

  &.enter,
  &.exit-active {
    @include class-endWith('-container') {
      opacity: 0;
      transform: scale(0.98) translate(0, 10px);
    }
  }

  &.enter-active {
    @include class-endWith('-container') {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }

  &-container {
    position: relative;
    margin: 40px auto;
    max-width: $screen-sm;
    background-color: $color-dark;
    border-radius: 10px;
    overflow: hidden;
    transition: all $animation-time ease;

    @include screen-xs {
      margin: 0;
      border-radius: 0;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
      align-items: flex-start;
    }
  }

  &-close {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;

    @include screen-xs {
      left: 0;
      right: unset;
    }

    &:hover {
      .icon {
        background-color: $color-dark;
      }
    }
    
    .icon {
      padding: 2px;
      width: 34px;
      height: 34px;
      color: $color-dark-2;
      background-color: rgba($color-dark, 0.9);
      border-radius: 100%;

      @include screen-xs {
        border-radius: 4px;
        background-color: rgba($color-dark, 0.8);
      }
    }
  }

  &-cover {
    display: block;
    width: 100%;
    height: 432px;
    object-fit: cover;
    object-position: center;

    @include screen-xs {
      height: 100%;
    }
  }

  &-info {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
    align-items: flex-start;
    padding: 40px;

    @include screen-xs {
      grid-gap: 15px;
      grid-auto-flow: row;
      grid-template-columns: unset;
      grid-template-rows: repeat(2, auto);
      padding: 30px 20px;
    }

    .column {
      &.col-2 {
        display: grid;
        grid-row-gap: 10px;
        line-height: 1.4121;
        font-weight: $font-weight-bold;
      }
    }

    .info {
      &-title {
        font-size: $font-size-larger;
        font-weight: $font-weight-bolder;
        margin: 0 0 15px;
      }

      &-desc {
        color: $color-dark-2;
        font-size: $font-size-medium - 1;
        line-height: 1.4121;
      }
    }

    .label {
      color: $color-dark-2;
      text-transform: capitalize;
      font-size: $font-size-small;
      padding-right: 10px;
    }

    .value {
      color: $color-dark-2;
      text-transform: capitalize;
    }
  }
}
