.ui--viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
  overflow: auto;
  background-color: rgba($color-dark, 0.6);

  @include screen-xs {
    overflow: hidden;
  }

  &.enter,
  &.exit-active {
    @include class-endWith('-container') {
      opacity: 0;
      transform: scale(0.998) translate(0, 0.25em);
    }
  }

  &.enter-active {
    @include class-endWith('-container') {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }

  &-container {
    position: relative;
    margin: 40px auto;
    max-width: $screen-sm;
    max-height: calc(100vh - 80px);
    background-color: $color-dark-8;
    border-radius: 10px;
    overflow: hidden;
    transition: all $animation-time ease;

    .btn {
      &-close {
        position: absolute;
        z-index: 10;
        top: 1rem;
        right: 1rem;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 100%;
        background-color: $color-dark-8;

        &:hover {
          background-color: $color-dark;
        }
        
        .icon {
          color: $color-dark-2;
          font-size: $font-size-large + 2;
        }
      }
    }
  }

  &-cover {
    position: relative;
    max-height: 68vh;
    overflow: hidden overlay;
    background-color: shade($color-dark-8, 25%);

    &::-webkit-scrollbar {
      width: 3px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      border: unset;
      border-radius: 0.5rem;
      background-color: $color-primary;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
      pointer-events: none;
    }
  }

  &-info {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 210px;
    grid-auto-flow: column;
    align-items: flex-start;
    padding: 40px;

    .column {
      &.col-2 {
        display: grid;
        grid-gap: 0.5rem;
        font-weight: $font-weight-bold;
      }
    }

    .info {
      &-title {
        font-size: $font-size-larger;
        font-weight: $font-weight-bolder;
        margin: 0 0 15px;
      }

      &-desc {
        color: $color-dark-2;
        font-size: $font-size-medium - 1;
        line-height: 1.4121;
      }
    }

    .label {
      float: left;
      color: $color-dark-2;
      text-transform: capitalize;
      font-size: $font-size-small;
      padding-right: 0.5rem;
      line-height: 23px;
    }

    .value {
      float: left;
      padding: 2px 6px;
      text-transform: capitalize;
      color: $color-primary;
    }
  }
}
