.btn {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 40px;
  font-size: @font-size-medium;
  font-weight: @font-weight-normal;
  border-radius: 2px;
  border: solid 1px transparent;
  background-color: transparent;

  .icon {
    width: 1.1em;
    height: 1.1em;
  }

  &-primary {
    color: @text-color;
    background-color: @primary-color;

    &:hover {
      background-color: tint(@primary-color, 5%);
    }
  }
}