.btn {
  &-primary {
    color: @dark-color;
    background-color: @primary-color;
  }

  &-icon {
    color: @primary-color;
  }

  &-phism {
    color: @primary-color;
    .neumorphismConvex(4px, 5px);

    &:active {
      .neumorphismConcave(5px, 6px);
    }
  }

  &-flat {
    color: @primary-color;
    .neumorphismFlat(5px, 7px);

    &:active {
      .neumorphismFlat(4px, 6px);
    }
  }
}
