.ui--footer {
  padding: 80px 20px;
  background-color: @bunker-gray;

  .copyright {
    color: @gray-color;
    font-size: @font-size-small;
    font-weight: @font-weight-normal;
    text-transform: uppercase;
    text-align: center;
  }
}