.ui--footer {
  position: relative;
  padding: 40px;
  border-top: solid 1px shade(@base-color, 20%);

  @media @mobile-screen {
    padding: 25px 15px;
  }

  &-under {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    @media @mobile-screen {
      grid-row-gap: 30px;
      grid-auto-flow: row;
      grid-template-areas: "area-r1" "area-r2";
      justify-content: unset;
    }

    .p1 {
      margin: 0 0 10px;
      color: @text-color;
      font-weight: @font-weight-bolder;

      @media @mobile-screen {
        font-size: @font-size-medium;
      }
    }
  }

  &-copyright {
    align-self: flex-end;
    color: @gray-color;
    font-size: @font-size-small;

    @media @mobile-screen {
      grid-area: area-r2;
      text-align: center;
      font-size: @font-size-smaller;
    }

    code {
      white-space: nowrap;
      padding: 2px 4px;
      border-radius: 4px;
      border: solid 1px tint(@base-color, 4%);
      background-color: tint(@base-color, 2%);
    }
  }

  &-follow {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    justify-content: center;

    @media @mobile-screen {
      grid-area: area-r1;
    }

    .btn {
      text-align: center;
      width: 40px;
      height: 38px;
      padding: 10px 0 0;
      border-radius: 8px;
    }

    .icon {
      width: 17px;
      height: 17px;
    }
  }
}
