.ui--header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 110;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr repeat(2, auto);
  align-items: center;
  padding: 0 40px;

  @media @mobile-screen {
    top: 20px;
    padding: 0 20px;
    grid-gap: 5px 0;
    grid-template-columns: unset;
    grid-template-areas: "area-x1" "area-x2";
    justify-content: flex-start;
  }

  &-logo {
    justify-self: flex-start;
    text-transform: uppercase;
    font-size: @font-size-larger;
    font-weight: @font-weight-bold;

    @media @mobile-screen {
      display: none;
    }

    .color {
      padding: 0 5px;
      color: @primary-color;
      background-color: @bunker-gray;
    }
  }
  
  &-contact {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: 20px;

    @media @mobile-screen {
      display: flex;
      align-items: center;
      justify-self: unset;
      margin: 0;
    }

    &.tel {
      @media @mobile-screen {
        grid-area: area-x2;
      }
    }

    &.email {
      @media @mobile-screen {
        grid-area: area-x1;
      }
    }

    .icon {
      color: @primary-color;
      width: 1em;
      height: 1em;
      margin-right: 10px;
    }

    .text {
      font-size: @font-size-small;
      font-weight: @font-weight-normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}