.ui--header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 110;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr repeat(2, auto);
  align-items: center;
  padding: 0 40px;

  &-logo {
    justify-self: flex-start;
    text-transform: uppercase;
    font-size: @font-size-larger;
    font-weight: @font-weight-bold;

    .color {
      padding: 0 5px;
      color: @primary-color;
      background-color: tint(@base-color, 8%);
    }
  }
  
  &-contact {
    justify-self: flex-end;
    margin-left: 20px;

    .icon {
      color: @primary-color;
      width: 1em;
      height: 1em;
      margin-right: 10px;
    }

    .text {
      color: @text-color;
      font-weight: @font-weight-normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}