.ui--header {
  position: sticky;
  top: 0;
  z-index: 90;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  border-bottom: solid 1px transparent;
  transition: all @animation-time ease;

  .setSticky() {
    height: 60px;
    background-color: @base-color;
    border-color: shade(@base-color, 20%);
  }

  @media @mobile-screen {
    padding: 0 15px;
    .setSticky();
  }

  &.is-sticky {
    .setSticky();
  }

  &-logo {
    align-self: center;
    justify-self: flex-start;

    font-size: @font-size-large;
    font-weight: @font-weight-bolder;
    text-transform: uppercase;
    line-height: 30px;

    @media @mobile-screen {
      display: none;
    }
    
    .color {
      padding: 6px 5px 4px;
      color: @primary-color;
      background-color: @dark-color;
    }
  }

  &-menu {
    justify-self: flex-end;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;

    @media @mobile-screen {
      justify-self: unset;
      justify-content: flex-start;
      grid-template-columns: repeat(2, auto) 1fr;
    }

    &-contact {
      display: grid;
      grid-column-gap: 15px;
      grid-auto-flow: column;

      @media @mobile-screen {
        justify-self: flex-end;
      }

      .contact {
        text-align: center;
        width: 34px;
        padding: 10px 0 0;
        border-radius: 8px;
      }

      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}