.ui--index {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;

  .parallax {
    .fullscreen-absolute();
    z-index: -1;
    opacity: 0.88;
    pointer-events: none;
    background-image: url(../../images/bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    transform: translateZ(-1px) scale(1.5);
  }

  .container {
    @media @desktop-screen {
      max-width: 90vw;
    }

    @media @mobile-screen {
      max-width: unset;
    }
  }

  .type {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    font-size: @font-size-small;
    font-weight: @font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    &::before,
    &::after {
      position: absolute;
      bottom: 45%;
      width: 60px;
      height: 1px;
      content: '';
      background-color: @primary-color;
    }

    &::before {
      left: 90%;
    }

    &::after {
      right: 90%;
    }
  }

  .name {
    margin: 60px 0 40px;
    line-height: 1.6414;

    .white {
      font-size: 40px;
      font-weight: @font-weight-lighter;

      @media @mobile-screen {
        font-size: 35px;
      }
    }

    .color {
      color: shade(@primary-color, 5%);
      font-size: 60px;
      font-weight: @font-weight-normal;

      @media @mobile-screen {
        font-size: 45px;
      }
    }
  }

  .desc {
    margin: 0 auto;
    width: 60%;
    line-height: 1.6414;
    font-size: @font-size-large;

    @media @tablet-screen {
      width: unset;
    }

    @media @mobile-screen {
      font-size: @font-size-medium;
    }
  }

  .action {
    margin: 40px 0 0;

    .btn {
      line-height: 38px;
      width: 220px;
      border: solid 1px tint(@primary-color, 60%);
      background-color: rgba(@text-color, 0.88);

      // Nested At-Rules and Bubbling.
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background-color: rgba(@text-color, 0.06);
        backdrop-filter: blur(10px);
      }
    }

    .icon {
      color: @primary-color;
      width: 1em;
      height: 1em;
      margin-right: 15px;
    }
  }

  .follow {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;

    .btn {
      padding: 5px;
      width: 30px;
      height: 30px;
      background-color: tint(@primary-color, 88%);
    }
  }
}