.ui--parallax {
  .set-position() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  --pos-y: 0px;
  .set-position();
  height: 128vh;
  transform: translateY(var(--pos-y));

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

    @media @mobile-screen {
      object-position: left top;
    }
  }

  .overlay {
    .set-position();
    bottom: 0;
    background-image: linear-gradient(to top, @base-color 0%, rgba(@base-color, 0.5) 64%);
  }
}
