.ui--portfolio {
  display: grid;
  padding: 15vh 0;
  background-color: @base-color;

  @media @mobile-screen {
    padding: 50px 0;
  }

  &-menu {
    display: grid;
    grid-column-gap: 30px;
    grid-auto-flow: column;
    justify-content: flex-start;
    margin: 0 0 40px;

    @media @mobile-screen {
      margin: 0 0 20px;
    }

    &-list {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: @font-weight-normal;

      &:hover,
      &.active {
        color: @primary-color;
      }
    }
  }
}