.ui--skill {
  display: grid;
  padding: 15vh 0;
  background-color: @base-color;

  @media @mobile-screen {
    padding: 50px 0;
  }

  .grid {
    &-content {
      grid-template-columns: 1fr 320px;
      align-items: flex-start;

      @media @mobile-screen {
        grid-template-columns: unset;
        align-items: unset;
      }
    }

    &-column {
      &.x1 {
        grid-area: area-x2;

        @media @mobile-screen {
          grid-area: area-x1;
        }
      }

      &.x2 {
        display: inline-block;
        width: 100%;
        grid-area: area-x1;

        @media @mobile-screen {
          grid-area: area-x2;
        }
      }
    }
  }

  &-list {
    float: left;
    margin: 0 20px 20px 0;
    padding: 15px 20px;
    font-weight: @font-weight-normal;
    background-color: tint(@base-color, 5%);
    border-radius: 10px;

    @media @mobile-screen {
      padding: 10px 15px;
      margin: 0 10px 10px 0;
    }

    .label {
      padding-right: 50px;

      @media @mobile-screen {
        padding-right: 20px;
      }
    }

    .value {
      align-self: center;
      padding: 0 8px;
      border-radius: 25px;
      font-weight: @font-weight-bold;
      color: @base-color;
      background-color: @primary-color;

      &::after { content: '%' }
    }
  }
}
