.ui--backtotop {
  position: fixed;
  z-index: 10;
  right: 60px;
  bottom: 40px;
  transition: all 0.2s ease;

  @media @mobile-screen {
    right: 15px;
    bottom: 15px;
  }

  &:not(.show) {
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
  }

  .btn {
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: tint(@primary-color, 84%);

    // Nested At-Rules and Bubbling.
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background-color: rgba(@primary-color, 0.2);
      backdrop-filter: blur(15px);
    }
  }

  .icon {
    width: 2em;
    height: 2em;
  }
}