@import (less) "../../assets/style/lib/custom.less";

.ui--cover {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;

  &-container {
    position: relative;
    margin: auto;
    max-width: 90vw;
    text-align: center;

    @media @mobile-screen {
      padding: 20px;
      max-width: unset;
    }
  }

  .type {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    font-size: @font-size-small;
    font-weight: @font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    @media @mobile-screen {
      max-width: 300px;
    }

    &::before,
    &::after {
      position: absolute;
      bottom: 45%;
      width: 60px;
      height: 1px;
      content: '';
      background-color: @primary-color;

      @media @mobile-screen {
        width: 50px;
      }
    }

    &::before {
      left: 90%;
    }

    &::after {
      right: 90%;
    }
  }

  .name {
    margin: 60px 0 40px;
    line-height: 1.6414;

    .white {
      font-size: 40px;
      font-weight: @font-weight-lighter;

      @media @mobile-screen {
        font-size: 35px;
      }
    }

    .color {
      font-size: 60px;
      font-weight: @font-weight-normal;
      color: @primary-color;

      @media @mobile-screen {
        font-size: 45px;
      }
    }
  }

  .desc {
    margin: 0 auto;
    width: 60%;
    line-height: 1.6414;
    font-size: @font-size-large;

    @media @tablet-screen {
      width: unset;
    }

    @media @mobile-screen {
      font-size: @font-size-medium;
    }
  }

  .action {
    margin: 40px 0 0;

    .btn {
      width: 220px;
      line-height: 38px;
    }

    .icon {
      margin-right: 15px;
    }
  }

  &-follow {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;

    @media @mobile-screen {
      justify-content: center;
    }

    .btn {
      min-height: unset;
      width: 32px;
      height: 32px;
      padding: 7px;
    }
  }
}

.ui--collect {
  display: grid;
  padding: 40px 0 15vh;

  @media @tablet-screen {
    padding: 40px 0 50px;
  }

  &-item {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, calc((100% / 3) - 34.5px));
    grid-auto-flow: dense;

    @media @laptop-screen {
      grid-gap: 20px;
      grid-template-columns: repeat(3, calc((100% / 3) - 13.5px));
    }

    @media @mobile-screen {
      grid-template-columns: unset;
      grid-auto-flow: row;
      grid-row-gap: 40px;
    }
  }

  &-list {
    position: relative;

    .image {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 2px;
      background-color: @base-color;
      object-position: top;
      object-fit: contain;
    }

    .type {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0 4px;
      font-size: @font-size-smaller;
      font-weight: @font-weight-normal;
      text-transform: uppercase;
      border-radius: 1px;
      color: @text-color;
      background-color: @primary-color;
    }

    .content {
      h2 {
        margin: 10px 0 5px;
        font-size: 16px;
        font-weight: @font-weight-normal;
      }

      p {
        font-size: @font-size-small;
        color: @gray-color;

        &.desc {
          display: -webkit-box;
          max-height: 55px;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }

        &.create {
          margin: 10px 0 0;
          font-size: @font-size-smaller;
        }
      }

      .tags {
        .tag {
          padding: 0 4px;
          font-size: @font-size-smaller;
          color: @text-color;
          background-color: rgba(@primary-color, 0.4);

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.ui--experience {
  display: grid;
  padding: 15vh 0;

  @media @tablet-screen {
    padding: 50px 0;
  }

  .grid {
    &-column {
      &.x2 {
        display: grid;
        grid-row-gap: 30px;
      }
    }
  }

  &-list {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 20px 320px 1fr;
    border-bottom: solid 1px @border-color;
    height: 140px;

    @media @tablet-screen {
      height: auto;
      padding: 20px 0 0;
      grid-column-gap: 20px;
      grid-template-columns: 20px 1fr;
      grid-template-areas:
        "area-icon area-title"
        "area-icon area-desc";
      align-items: flex-start;
      border-bottom: unset;
      border-top: solid 1px @border-color;
    }

    .icon {
      width: 1.4em;
      height: 1.4em;
      margin: 4px 0 0;
      color: @primary-color;

      @media @tablet-screen {
        grid-area: area-icon;
      }
    }

    .title {
      @media @tablet-screen {
        grid-area: area-title;
      }

      p {
        color: @gray-color;
        font-weight: @font-weight-normal;
        text-transform: uppercase;
      }

      h4 {
        line-height: 3;
        font-size: @font-size-large;
        font-weight: @font-weight-normal;

        @media @tablet-screen {
          line-height: 2.5;
        }
      }
    }

    .desc {
      color: @gray-color;

      @media @tablet-screen {
        grid-area: area-desc;
        font-size: @font-size-small;
      }
    }
  }
}

.ui--skill {
  display: grid;
  padding: 15vh 0;

  @media @tablet-screen {
    padding: 50px 0;
  }

  .grid {
    &-content {
      grid-template-columns: 1fr 320px;
      align-items: flex-start;

      @media @laptop-screen {
        grid-template-columns: unset;
      }

      @media @mobile-screen {
        align-items: unset;
      }
    }

    &-column {
      &.x1 {
        grid-area: area-x2;

        @media @laptop-screen {
          grid-area: area-x1;
        }
      }

      &.x2 {
        display: inline-block;
        width: 100%;
        grid-area: area-x1;

        @media @laptop-screen {
          grid-area: area-x2;
        }
      }
    }
  }

  &-list {
    float: left;
    margin: 0 15px 15px 0;
    padding: 15px 20px;
    border-radius: 2px;
    font-weight: @font-weight-normal;
    background-color: tint(@base-color, 3%);

    @media @mobile-screen {
      padding: 10px 15px;
      margin: 0 10px 10px 0;
    }

    .label {
      padding-right: 50px;

      @media @mobile-screen {
        padding-right: 20px;
      }
    }

    .value {
      align-self: center;
      padding: 0 8px;
      border-radius: 2px;
      font-size: @font-size-small;
      font-weight: @font-weight-normal;
      color: @primary-color;
      background-color: @bunker-gray;

      &::after { content: '%' }
    }
  }
}
