.ui--home-skill {
  .skills {
    display: grid;
    gap: 1.5rem 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    padding-right: 2rem;
  }

  .li {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'area-label area-value'
      'area-desc area-desc';
    align-items: center;

    .label {
      grid-area: area-label;
      font-weight: var(--font-weight-bolder);
    }

    .desc {
      grid-area: area-desc;
      color: var(--color-desc-1);
      font-style: italic;
      font-size: var(--font-size-smaller);
    }

    .code {
      grid-area: area-value;
      line-height: 1;
      padding: 3px 5px 1px;
      font-weight: var(--font-weight-bold);
      border-radius: 2px;
    }
  }
}
