// SET global classes.
.ui--router {
  &-link {
    position: relative;
    padding: 10px 5px;
    font-size: @font-size-small + 1;
    font-weight: @font-weight-bolder;
    
    &.active {
      color: @primary-color;
      text-shadow: 0 0 8px rgba(@primary-color, 0.2);
    }
  }

  &-view {
    position: relative;
    padding: 40px;

    @media @mobile-screen {
      padding: 20px 15px;
    }
  }

  &-page {
    text-align: center;
    padding: 0 0 60px;

    @media @mobile-screen {
      padding: 0 0 30px;
    }
    
    .title {
      text-transform: capitalize;
      color: @gray-color;
      font-size: @font-size-larger * 1.28;
      font-weight: @font-weight-bolder;
    }
  }
}

.ui--context {
  display: grid;
  grid-gap: 40px 80px;
  grid-auto-flow: column;
  grid-template-columns: 360px 1fr;
  grid-template-areas: "area-x1 area-x2";
  align-items: flex-start;
  margin: 40px;

  @media @laptop-screen {
    grid-template-columns: 280px 1fr;
  }

  @media @mobile-screen {
    grid-gap: 40px;
    grid-auto-flow: row;
    grid-template-columns: unset !important;
    grid-template-areas: "area-x1" "area-x2" !important;
    margin: 0;
  }

  &.rtl {
    grid-template-columns: 1fr 360px;
    grid-template-areas: "area-x2 area-x1";

    @media @laptop-screen {
      grid-template-columns: 1fr 280px;
    }
  }

  &-column {
    &.col-1 {
      grid-area: area-x1;
    }

    &.col-2 {
      grid-area: area-x2;
    }
  }

  .context-title {
    &-h3 {
      letter-spacing: 0.64px;
      text-transform: uppercase;
      font-size: @font-size-small;
      font-weight: @font-weight-bolder;
      color: @gray-color;
      margin: 0 0 25px;

      @media @mobile-screen {
        margin: 0 0 15px;
      }
    }

    &-h1 {
      position: relative;
      text-transform: capitalize;
      font-size: @font-size-larger * 1.4;
      font-weight: @font-weight-bolder;
      margin: 0 0 50px;

      @media @mobile-screen {
        margin: 0 0 40px;
      }

      &::after {
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 70px;
        height: 3px;
        content: '';
        background-color: @primary-color;
      }
    }
  }

  .context-desc {
    font-style: italic;
    font-size: @font-size-small;
    line-height: 1.6414;
    width: 275px;
    color: @gray-color;
  }
}
